.App {
  text-align: center;
}


@font-face {
  font-family:Topaz_a500;
  src: url(assets/Topaz_a500_v1.0.ttf) format("truetype");
}

@font-face {
  font-family:P0T-NOoDLE;
  src: url(assets/P0T-NOoDLE_v1.0.ttf) format("truetype");
}

.App PRE, .App textarea {
  font-family:Topaz_a500; font-size:12pt; font-weight:normal;
  color:#000000; background-color:#9B9B9B;
  line-height: 16px;
  margin: 0; padding: 0;

  text-align: left;
}

.App textarea.ant-input {
  line-height: 1em;
  font-size: 2vw;
}
